
html, #root {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-top: 96px;         
  min-height: 100vh;
  box-sizing: border-box;
}

main,
.app-content {
  width: 100%;
  max-width: 1100px;         
  margin: 0 auto;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;      
  flex: 1 1 auto;            
  min-height: calc(100vh - 96px); 
  text-align: center;      
}


@media (max-width: 520px) {
  body {
    padding-top: 96px;
  }
  main, .app-content {
    padding: 0.75rem;
    min-height: calc(100vh - 96px);
  }
}
